.fi-ta-table thead {
    position: sticky !important;
    top: 0;
}

.dark .fi-ta-table thead {
    background-color: rgb(24, 24, 27);
}

.fi-ta-content {
    max-height: calc(100vh - 20rem);
    overflow-y: auto;
    position: relative;
}
